version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: neo_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # ports:
      # - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    image: aisultan1a/neoexcelsync-backend:1.1
    # build: ./backend
    container_name: neo_backend
    restart: always
   # ports:
    #  - "8000:8000"
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Внутри docker-сети хост БД = имя сервиса "db"
      DB_HOST: db
      DB_PORT: 5432
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - ./backend/data:/app/data
      - ./backend/uploads:/app/uploads

  frontend:
    image: aisultan1a/neoexcelsync-frontend:1.1
    # build: ./frontend
    container_name: neo_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
