name: Build & Push Docker images

on:
  push:
    branches: ["master"]
  workflow_dispatch: {}

env:
  IMAGE_BACKEND: ${{ secrets.DOCKERHUB_USERNAME }}/neoexcelsync-backend
  IMAGE_FRONTEND: ${{ secrets.DOCKERHUB_USERNAME }}/neoexcelsync-frontend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # QEMU больше не нужен, т.к. arm64 не собираем

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend (amd64 only)
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_BACKEND }}:1.1

      - name: Build & push frontend (amd64 only)
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_FRONTEND }}:1.1
